<h1>Agregar un Nuevo Curso</h1>
    <div id="message" class="hide" ></div>

    <form id="courseForm">
        <label for="courseName">Nombre del Curso</label>
        <input type="text" id="courseName" required>

        <label for="instructorName">Nombre del Instructor</label>
        <input type="text" id="instructorName" required>

        <label for="startDate">Fecha de Inicio</label>
        <input type="date" id="startDate" required>

        <label for="duration">Duración (semanas)</label>
        <input type="number" id="duration" required>

        <label for="description">Descripción</label>
        <textarea id="description" required></textarea>

        <button type="submit">Agregar Curso</button>
    </form>

    <script src="AgCurso.ts"></script>

