<main>
    <section class="welcome-section">
        <h2>Bienvenido a la Plataforma de Gestión de Cursos</h2>
        <p>Esta es una práctica enfocada en el desarrollo de una página web interactiva enfocada en la gestión de cursos con Angular, con funcionalidades de registro de cursos, visualización de información detallada de cada curso, que incluya animaciones y manipulación dinámica del DOM mediante CSS y JavaScript.</p>
    </section>

    <section class="features-section">
        <h3>Funcionalidades Principales</h3>
        <ul>
            <li>Agregar nuevos cursos mediante un formulario interactivo.</li>
            <li>Visualizar la lista de cursos disponibles con detalles importantes como nombre, instructor, y duración.</li>
            <li>Eliminar cursos existentes y mantener actualizada la lista.</li>
            <li>Ver detalles adicionales de cada curso sin necesidad de recargar la página.</li>
            <li>Almacenar los datos de manera local utilizando el almacenamiento local del navegador (localStorage).</li>
        </ul>
    </section>
</main>
