<header>
  <h1>Desarrollo web con estándares HTML en Angular</h1>
  <nav class="navbar">
    <div class="nav-links">
      <a routerLink="pages/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="pages/cursos" routerLinkActive="active">Cursos</a>
      <a routerLink="pages/acursos" routerLinkActive="active">Agregar Curso</a>
      <a routerLink="pages/contacto" routerLinkActive="active">Contacto</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>&copy;2024 Universidad Politécnica Salesiana. </p>
</footer>